@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  touch-action: manipulation;
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/*
      COLOR PALLETTE
*/
:root {
  --very-dark: #24282e;
  --dark: #1c2127;
  --dark-gray: #636d7b;
  --ligh-gray: #a8b3be;
  --green: #377b3f;
  --dark-green: #36483e;
  --brown: #71653f;
  --dark-brown: #48423c;
}
